@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
}
.dark{
  background-color: #302a62;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dee2e6; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #adb5bd; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #adb5bd; 
}

